#emotion-attributes {
    border-collapse: collapse;
    width: 100%;
}

#recommendations-playlists-container {
    margin-top: 5%;
}

.recommendation-playlist {
    margin-top: 2%;
    margin-bottom: 2%;
}

.refresh-container {
    margin-top: 2%;
    justify-content: center;
}

.refresh-button{
    width: 15%;
}

th {
    border: 1px solid #f2f2f2;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #11e0cb;
    color: #061110;
}

td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    background-color: #e1e8e7;
}

.play-button {
    height: 90px;
}
