{% extends 'base.html' %}

{% block superhead %}
    <script src="{{ url_for('static', filename='js/generate_recommendations.js')}}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attributes.css')}}">
{% endblock %}

{% block content %}
<h1>Recently Listened Track Attributes</h1>
<table id="emotion-attributes">
    <tr>
        <th>Valence</th>
        <th>Energy</th>
        <th>Danceability</th>
    </tr>
    <tr>
        <td>{{ average_valence }}</td>
        <td>{{ average_energy }}</td>
        <td>{{ average_danceability }}</td>
    </tr>
</table>

<div id="recommendations-playlists-container">
    <div id="valence-playlist" class="row recommendation-playlist">
        <h2>Recommendations For Valence</h2>
        <p id="valence-playlist-error-message" hidden>No songs could be generated for valence!</p>
    </div>
    <div id="energy-playlist" class="row recommendation-playlist">
        <h2>Recommendations For Energy</h2>
        <p id="energy-playlist-error-message" hidden>No songs could be generated for energy!</p>
    </div>
    <div id="danceability-playlist" class="row recommendation-playlist">
        <h2>Recommendations For Danceability</h2>
        <p id="danceability-playlist-error-message" hidden>No songs could be generated for danceability!</p>
    </div>
</div>
{% endblock %}
