{% extends 'base.html' %}

{% block superhead %}
    <script src="{{ url_for('static', filename='js/generate_recommendations.js')}}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/attributes.css')}}">
{% endblock %}

{% block content %}
<div id="config" data-csrf-token="{{ csrf_token() }}"></div>
<h1>Your Emotion Attributes</h1>
<table id="emotion-attributes">
    <tr>
        <th>Valence</th>
        <th>Energy</th>
        <th>Danceability</th>
    </tr>
    <tr>
        <td>{{ average_valence }}</td>
        <td>{{ average_energy }}</td>
        <td>{{ average_danceability }}</td>
    </tr>
</table>

<div id="recommendations-playlists-container">
    <div id="valence-playlist" class="row recommendation-playlist">
        <h2>Valence Playlist</h2>
        <p id="valence-playlist-error-message" hidden>No songs could be generated for valence!</p>
        <div id="valence-playlist-container" class="row"></div>
        <div id="valence-refresh-container" class="row refresh-container">
            <button id="refresh-valence-playlist" type="button" class="btn btn-primary refresh-button" data-target="valence">Refresh</button>
        </div>
    </div>
    <div id="energy-playlist" class="row recommendation-playlist">
        <h2>Energy Playlist</h2>
        <p id="energy-playlist-error-message" hidden>No songs could be generated for energy!</p>
        <div id="energy-playlist-container" class="row"></div>
        <div id="energy-refresh-container" class="row refresh-container">
            <button id="refresh-energy-playlist" type="button" class="btn btn-primary refresh-button" data-target="energy">Refresh</button>
        </div>
    </div>
    <div id="danceability-playlist" class="row recommendation-playlist">
        <h2>Danceability Playlist</h2>
        <p id="danceability-playlist-error-message" hidden>No songs could be generated for danceability!</p>
        <div id="danceability-playlist-container" class="row"></div>
        <div id="danceability-refresh-container" class="row refresh-container">
            <button id="refresh-danceability-playlist" type="button" class="btn btn-primary refresh-button" data-target="danceability">Refresh</button>
        </div>
    </div>
</div>
{% endblock %}
